.App {
  text-align: center;
}

.clickbox {
  width : 200px;
  height: 200px;
  border: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 
  margin : 10px;

}

.container {
  display : flex;
  flex-flow: row wrap;
  justify-content: center;

}

.button-container {
  display: flex;
  justify-content: center;
  width : 200px;
  height: 40px;
  margin: auto;
}

button {
  width: 100px;
  height: 40px;
  margin: auto;

  cursor: pointer;

}